<div class="app-page">

    <div class="app-page__header">
        <h1>Registration</h1>
    </div>

    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm" novalidate autocomplete="off">
        <div class="app-page__content">
            <app-form-field [label]="'Email'" [isInline]="false" [control]="registerForm.controls.email">
                <app-input formControlName="email"></app-input>
            </app-form-field>
            <app-form-field label="Password" [required]="true" [control]="registerForm.controls.password"
                [isInline]="false">
                <app-password formControlName="password"></app-password>
            </app-form-field>
            <!-- <app-form-field [label]="'Password'" [isInline]="false" [control]="registerForm.controls.password">
                <app-input formControlName="password"></app-input>
            </app-form-field> -->
        </div>
        <div class="app-page__footer">
            <app-button type="submit">Complete</app-button>
        </div>

        <app-spinner *ngIf="isLoading$ | async"></app-spinner>
    </form>
</div>